set timeout=10
set default=0

insmod gfxterm
terminal_output gfxterm
terminal_input console

menuentry "METRO OS 0.1 Beta - Live Shell" {
    set gfxpayload=keep
    multiboot /boot/metro.bin
    boot
}

menuentry "METRO OS 0.1 Beta - Safe Mode" {
    set gfxpayload=text
    multiboot /boot/metro.bin
    boot
}

